<ion-header mode="ios">
  <ion-toolbar mode="ios" class="first-toolbar" color="primary">
    <ion-title>Add Room</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
    <ion-list  class="grid-content ion-no-padding">
        <ion-card  color="tint" class="homeCard ion-no-margin" mode="ios">
          <ion-card-content>
              <ion-item color="light">
                  <ion-label position="stacked">Room Name</ion-label>
                  <ion-input required="true" placeholder="Please enter your room name" name="text"  [(ngModel)]="roomName"></ion-input>
                </ion-item>
                <ion-item color="light">
                  <ion-label>Room Type</ion-label>
                  <ion-select placeholder="Please select room type" [(ngModel)]="roomType" okText="Okay" cancelText="Dismiss"
                    interface="popover" mode="ios" (ionChange)="typeChange($event)">
                    <ion-select-option mode="ios" value="office">Office</ion-select-option>
                    <ion-select-option value="bed">Bedroom</ion-select-option>
                    <ion-select-option value="kitchen">Kitchen</ion-select-option>
                    <ion-select-option value="living">Living Room</ion-select-option>
                    <ion-select-option value="child">Child Room</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-button class="ion-margin-top" shape="round" expand="block" (click)="addRoom()">Add</ion-button>
          </ion-card-content>

        </ion-card>

    </ion-list>

</ion-content>
