<ion-header>
  <ion-toolbar class="first-toolbar" color="primary" mode="ios">
      <ion-buttons slot="start">
          <ion-button (click)="delete()">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title>{{room.name}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="second-toolbar" color="primary" mode="ios">
    <ion-grid>
      <ion-row class="ion-align-items-center negative-margin">
        <ion-col class="ion-text-center" col-4>
          <img src="{{weatherImg}}" alt="">
        </ion-col>
        <ion-col class="ion-text-center" col-4>
          <p text-medium class="ion-no-margin">{{temperatureOutside}}°ᶜ</p>
        </ion-col>
        <ion-col class="ion-text-center" col-4>
          <p text-medium class="ion-no-margin">{{humidityOutside}}%</p>
        </ion-col>
      </ion-row>
      <ion-row class="negative-margin">
        <ion-col class="ion-text-center" col-4>
          <p text-small class="ion-no-margin">{{descriptions}}</p>
        </ion-col>
        <ion-col class="ion-text-center" col-4>
          <p text-small class="ion-no-margin">Temp Outside</p>
        </ion-col>
        <ion-col class="ion-text-center" col-4>
          <p text-small class="ion-no-margin">Humidity Outside</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-list class="grid-content ion-no-padding">
    <ion-grid class="ion-no-padding">
      <ion-card color="tint" class="homeCard ion-no-margin " mode="ios">
        <ion-card-header class="devicesHeader ion-margin">
          <ion-card-title mode="md">Devices
          </ion-card-title>
          <div class=" ion-activatable">
            <ion-icon name="add" class="plus" (click)="addDevices()"></ion-icon>
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </ion-card-header>

        <ion-row class="ion-align-items-stretch" *ngIf="isDevicesEmpty">
          <ion-col size="6" size-sm size-md size-lg size-xl *ngFor="let device  of  devices" >
              <ion-card mode="ios" class="deviceCard ion-no-margin">
                  <ion-card-content>
                    <ion-card-header mode="md">
                        <ion-icon name="{{device.deviceImage}}"></ion-icon>
                      <ion-card-title mode="md">{{device.deviceName}}</ion-card-title>
                      <div class=" ion-activatable">
                        <ion-icon name="more" class="more" (click)="presentAlertPrompt(device)"></ion-icon>
                        <ion-ripple-effect></ion-ripple-effect>
                      </div>
                      <ion-toggle checked="{{device.deviceId}}" *ngIf="device.deviceType == 'switch'"  (ionChange)="toggleChange($event.detail.checked,device)"></ion-toggle>
                      <ion-card-subtitle *ngIf="device.deviceType == 'text'" id="{{device.deviceTopic}}0">Accessing</ion-card-subtitle>
                      <ion-card-subtitle *ngIf="device.deviceType == 'sensor'" id="{{device.deviceTopic}}1">Accessing</ion-card-subtitle>
                    </ion-card-header>
                  </ion-card-content>
                </ion-card>
          </ion-col>
        </ion-row>

        <ion-card-content *ngIf="!isDevicesEmpty">
          <p class="noDevices">No device added yet</p>
        </ion-card-content>
      </ion-card>
    </ion-grid>
  </ion-list>
</ion-content>