<ion-header>
  <ion-toolbar class="first-toolbar" color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Control Panel
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon text-medium slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="second-toolbar" color="primary" mode="ios">
    <ion-grid>
        <ion-row *ngIf="!isWidgetEmpty">
            <ion-col col-6 *ngFor="let widget of  widgets">
              <ion-item lines="none" class="ion-text-center ion-activatable widget" (click)="presentAlertConfirm(widget)" color="shade">
                <ion-label>
                  <span id="{{widget.value}}">{{widgetValue}}</span>
                  <p>{{widget.name}}</p>
                </ion-label>
                <ion-ripple-effect></ion-ripple-effect>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="isWidgetEmpty">
            <ion-col col-12 class="ion-text-center">
              <p>No widgets added yet</p>
            </ion-col>
          </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-list  class="grid-content ion-no-padding">
    <ion-grid class="ion-no-padding">
      <ion-card  color="tint" class="homeCard ion-no-margin" mode="ios">
        <ion-card-header class="scenesHeader ion-margin" mode="md">
          <ion-card-title mode="md">Scenes</ion-card-title>
        </ion-card-header>
        <ion-slides [options]="scenesSlideOpts">
          <ion-slide *ngFor="let scene  of  scenes">
            <ion-card mode="ios" class="sceneCard ion-activatable ion-text-center ion-no-margin" >
              <ion-card-content>
                <ion-icon text-medium name="{{scene.icon}}"></ion-icon>
                <ion-card-header mode="md" class="ion-no-padding">
                  <ion-card-subtitle mode="md">{{scene.title}}</ion-card-subtitle>
                </ion-card-header>
              </ion-card-content>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-card>
          </ion-slide>
        </ion-slides>

        <ion-card-header class="roomsHeader ion-margin" >
          <ion-card-title mode="md">Rooms
          </ion-card-title>
          <div class=" ion-activatable">
              <ion-icon name="add" class="plus" (click)="addRooms()"></ion-icon>
              <ion-ripple-effect></ion-ripple-effect>
          </div>
        </ion-card-header>
        <ion-slides *ngIf="isEmpty" [options]="roomsSlideOpts">
          <ion-slide *ngFor="let room  of  rooms">
            <ion-card mode="ios" class="roomCard ion-activatable ion-text-center ion-no-margin">
              <ion-card-content (click)="openRoom(room.id,$event)">
                <img height="100" src="{{room.image}}" />
                <ion-card-header mode="md">
                  <ion-card-title mode="md">{{room.name}}</ion-card-title>
                  <ion-card-subtitle mode="md">{{room.devices.length}} Devices</ion-card-subtitle>
                </ion-card-header>
              </ion-card-content>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-card>

          </ion-slide>
        </ion-slides>
        <ion-card-content *ngIf="!isEmpty">
            <p class="ion-text-center">No rooms added yet</p>
        </ion-card-content>
      </ion-card>
    </ion-grid>
  </ion-list>
</ion-content>
